<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        a {
            margin-right: 16px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Ir a Inicio</a>
    </nav>
    <h1>Login</h1>
    <form action="/auth/login" method="POST">
        <div>
            <label>
                Email
                <input type="email" name="email" placeholder="Email">
            </label>
        </div>

        <div>
            <label>
                Contraseña
                <input type="password" name="password" placeholder="password">
            </label>
        </div>


        <input type="submit" value="LOGIN">
    </form>
</body>
</html>